<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @desk.name %>
</p>

<p>
  <b>Description:</b>
  <%= @desk.description %>
</p>

<p>
  <b>Price:</b>
  <%= @desk.price %>
</p>

<%= month_calendar do |date| %>
  <%= date %>
<% end %>


<%= link_to 'Edit', edit_office_desk_path(@desk.office, @desk) %> |
<%= link_to 'Back', office_desks_path(@desk.office) %>
